/* Underlines */
a {
  position: relative;
  text-decoration: none;
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underline-secondary a::after {
  background-color: #cbd5e0;
}

.underline-primary a::after {
  background-color: #2d3748;
}

/* Buttons */
.button-cta-primary,
.button-cta-secondary {
  background-color: #ffd300;
  color: #2d3748;
  transition: background-color 0.25s ease-out, transform 0.25s ease-out;
  position: relative;
  overflow: hidden;
}

.button-cta-primary::before,
.button-cta-secondary::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  transition: left 0.3s;
}

.button-cta-primary::before {
  background-color: #cbd5e0;
}

.button-cta-secondary::before {
  background-color: #2d3748;
}

.button-cta-primary:hover,
.button-cta-secondary:hover {
  transform: scale(1);
  color: #cbd5e0;
}

.button-cta-primary:hover::before,
.button-cta-secondary:hover::before {
  left: 0;
}

/* Search Box */
#searchbox:focus {
  background-color: rgba(203, 213, 224, 0.1);
  color: #cbd5e0;
}
