.hide-underline-temporary::after {
  opacity: 0;
}

.underline-secondary a {
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #cbd5e0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.underline-secondary a::after {
  transform: scaleX(0);
}

.underline-primary a {
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2d3748;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

/* Buttons */
.button-cta-primary {
  background-color: #ffd300;
  color: #2d3748;
  transition: background-color 0.25s ease-out, transform 0.25s ease-out;
  position: relative;
  overflow: hidden;
}

.button-cta-primary::before,
.button-cta-primary::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: #cbd5e0;
  transition: left 0.3s;
}

.button-cta-primary::before {
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
}

.button-cta-primary:hover {
  transform: scale(1);
}

.button-cta-primary:hover::before {
  left: 0;
}

.button-cta-secondary {
  background-color: #ffd300;
  color: #2d3748;
  transition: background-color 0.25s ease-out, transform 0.25s ease-out;
  position: relative;
  overflow: hidden;
}

.button-cta-secondary::before,
.button-cta-secondary::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: #2d3748;
  transition: left 0.3s;
}

.button-cta-secondary::before {
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
}

.button-cta-secondary:hover {
  color: #cbd5e0;
  transform: scale(1);
}

.button-cta-secondary:hover::before {
  left: 0;
}

.rc-anchor-light {
  background-color: #cbd5e0 !important;
}

#rc-anchor-container {
  background-color: #cbd5e0 !important;
}

.tawk-custom-color {
  background-color: #cbd5e0 !important;
  color: red !important;
  width: 500px !important;
}

#searchbox:focus {
  background-color: rgba(203, 213, 224, 0.1);
  color: #cbd5e0;
}
